@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.fondo-comunidad {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/actividad.webp');
}

#comunidad{
    color: gold;
}

/*MAIN*/

#reuniones{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.reunion{
    background-color: aqua;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reunion p{
    color: white;
    
}


@media (max-width: 800px){

    #reuniones{
        grid-template-columns: 1fr;
    }

    
}