@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

#creemos{
    color: gold;
}

/*MAIN*/

#intro-creencias{
    width: 100%;
    background-color: aqua;
    height: 100px;
    align-items: center;
    padding: 50px;
    color: blue;
    display: none;
}

#creencias{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
}

.creencia{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.creencia:hover p{
    color: gold;
}

.creencia p{
    color: white;
    font-weight: bold;
    font-size: 60px;
    transition: color 0.5s;
}


.creencia-oracion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/fondocreemos.webp');
}

.creencia-libromormon{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/escrituras.webp');
}

.creencia-bautismo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/bautismo.webp');
}


@media (max-width: 800px){

   
    
}