footer{
    border-top: 5px solid rgb(111, 150, 170);
    background-color: rgb(45,81,92);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.f,.fab{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

.f{
    color: white;
    text-decoration: underline;
}

.fab{
    color: rgb(111, 150, 170);
    transition: transform 0.5s;
}

.fab:hover{
    transform: scale(1.2);
}




#links{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}



@media (max-width: 800px){

    

    
}