footer{
    border-top: 5px solid rgb(111, 150, 170);
    background-color: rgba(45, 81, 92,1);
}


#menu-rrss{
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    list-style-type: none;
}

#rrss{
    margin: 0 50px;
    text-decoration: none;
    transform: scale(1.7);
    color: rgb(111, 150, 170);
    transition: transform 0.5s;
}

#rrss:hover{
    transform: scale(2);
}


#menu-rrss img {
    transform: scale(0.1);
    position: absolute;
    left: 10%;
}


