@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

#fondohome {
    width: 100%;
    position: relative;
    height: 900px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 1;
    border: 5px solid red;
}

#fondohome-img{
    width: 100%;
    height: 900px;
    z-index: 0;
}

#fondohome-img,#fondohomr{
    position: absolute;
}

#titulohome{
    color: white;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 80px;
    font-weight: bold;
    font-family: 'Georgia',serif;
}

#somos{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 30px;
    z-index: 1;
    flex-direction: column;
    gap: 70px;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
}

.somos-titulo{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(45,81,92);
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
}

.somos-texto{
    color: rgb(111, 150, 170);
    font-family: 'Roboto',sans-serif;
    width: 100%;
    display: block;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 30px;
    line-height: 50px;
}


#paginas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}

.pagina{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: top;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-size 0.7s ease-in-out;
}

.pagina p{
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Georgia',serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: color 0.5s;
}

.pagina:hover p{
    color: gold;
}

.pagina-restauracion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('../images/restauracion.jpeg');
}

.pagina-cristo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('../images/orando.webp');
    
}

.pagina-comunidad{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('../images/comunidad.webp');
    grid-column: span 2;

}


@media (max-width: 800px){

    #paginas{
        grid-template-columns: 1fr;

    }

    .pagina-comunidad{
        grid-column: span 1;
    }
    
}



