@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fondohome {
    width: 100%;
    position: relative;
    height: 900px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/home.webp');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    z-index: 0;
}

#titulohome{
    color: white;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 80px;
    font-weight: bold;
    font-family: 'Georgia',serif;
}

#somos{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    z-index: 1;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
}

.somos-titulo{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(45,81,92);
    font-family: 'Georgia',serif;
}

.somos-texto{
    color: rgb(111, 150, 170);
    font-family: 'Roboto',sans-serif;
    width: 100%;
    display: block;
    text-align: justify;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 30px;
    line-height: 50px;
}


#paginas{
    display: flex;
    width: 97%;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.pagina{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.mantener.pagina .pagina-titulo,.mantener.pagina .pagina-subtitulo{
    color: gold;
}


.pagina-titulo{
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Georgia',serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.pagina-subtitulo{
    color: white;
    font-size: 30px;
}

.pagina-titulo,.pagina-subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pagina-restauracion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('../images/restauracion.jpeg');
    background-position: 0 10%;
}

.pagina-cristo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('../images/orando.webp');
    background-position: 0 20%;
}

.pagina-comunidad{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('../images/actividad.webp'); 
    background-position: 0 30%;
}


@media (max-width: 800px){

    #paginas{
        flex-direction: column;
    }


    
    
}



