header{
    height: 200px;
    width: 100%;
    background-color: azure;
}

nav{
    margin-left: 12%;
    margin-top: -10%;
}

h2{
    color: teal;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-flex;
    padding: 60px;
    text-align: center;
    align-items: center;
    height: 10%;
    transition: color 0.8s, scale 0.8s,background-color 0.8s;
}

h2:hover{
    color: lightseagreen;
    scale: 1.2;
}

#logo{
    display: block;
    height: 200px;
    width: 200px;
    background-color: teal;
    border-radius: 0 0 50px 0;
    transition: background-color 0.7s;
    position: relative;
    margin: 0;
}

#logo:hover{
    background-color: lightseagreen;
}


#buscacristo{
    display: block;
    position: absolute;
    transform: scale(1.5);
    top: 30%;
    left: 40%;
}

#search{
    height: 40px;
    border: 5px solid teal;
    border-radius: 15px;
    font-size: 1em;
    color: teal;
}

#language{
    height: 40px;
    color: teal;
}