header{
    width: 100%;
    height: 10%;
    background-color: forestgreen;
}

p{
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: inline-flex;
    padding: 40px;
    text-align: center;
    align-items: center;
    height: 10%;
    transition: color 0.8s, background-color 0.8s;
}

p:hover{
    color: forestgreen;
    background-color: white;
}

.logo{
    display: block;
    padding: 40px;
    
}