@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.fondo-principios {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/convenios.webp');
}

#principios{
    color: gold;
}

/*MAIN*/

#convenios{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    border: 5px solid red;
}

.convenio{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    border: 5px solid rgb(111, 150, 170);
    border-radius: 20px;
    z-index: 1;
}

.convenio-titulo {
    background-color: rgba(45, 81, 92);
    width: 100%;
    color: white;
    padding: 30px;
    text-transform: uppercase;
    font-size: 60px;
    border-radius: 10px 10px 0 0;
}

.convenio-texto{
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    color: black;
}


@media (max-width: 800px){

    .convenio{
        height: auto;
    }
    
}

