@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.fondo-restauracion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/restauracion.jpeg');
}

#restauracion{
    color: gold;
}


/*MAIN*/

#submenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    background-color: rgb(111, 150, 170);
}

.subapartado{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgba(45, 81, 92);
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
}

#secciones{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.seccion{
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-top: 10px solid rgb(111, 150, 170);
    height: auto;
}

.seccion-titulo{
    color: rgba(45, 81, 92);
    font-weight: bold;
    font-size: 60px;
    font-family: 'Roboto';
}

.seccion-subtitulo{
    color: rgba(45, 81, 92);
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto';
}

.seccion-texto{
    text-align: justify;
    color: black;
    font-family: 'Roboto';
    line-height: 40px;
}

.slide{
    border: 5px solid red;
}

.slide-2{
    display: none;
}




@media (max-width: 800px){

    #submenu{
        grid-template-columns: 1fr;

    }
    
}











