@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.fondo-restauracion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/restauracion.jpeg');
}

#restauracion{
    color: gold;
}


/*MAIN*/

#submenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    background-color: rgb(111, 150, 170);
}

.subapartado{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgba(45, 81, 92);
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
    transition: color 0.5s;
}

.subapartado:hover{
    color: gold;
}

#secciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: rgba(45, 81, 92);
    background-size: cover;
    background-repeat: no-repeat;
}

.libromormon{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/libromormon.webp');
    background-position: top;
}

.josesmith{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/josesmith.webp');
    background-position: 0% 25%;
}

.apostasia{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/apostasia.webp');
    background-position: 0% 25%;
}

.seccion-titulo{
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 60px;
    height: 400px;
    text-transform: uppercase;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.seccion-titulo i{
    font-size: 40px;
    transition: rotate 0.5s;
}

.seccion-texto{
    width: 100%;
    color: white;
    height: 0;
    opacity: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    transition: height 0.5s, opacity 0.5s;
}

.seccion-texto p{
    padding: 20px;
}

.expande{
    height: 300px;
    opacity: 1;
}

.gira{
    rotate: 180deg;
}

.mantener{
    color: gold;
}





@media (max-width: 800px){

    #submenu{
        grid-template-columns: 1fr;
    }

    .subseccion{
        height: auto;
    }
    
}











