@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#fondo {
    width: 100%;
    position: relative;
    border-bottom: 10px solid rgb(111, 150, 170);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/fondocreemos.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#titulo{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

#creemos{
    color: gold;
}

/*MAIN*/

#submenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
}

.subapartado{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(45, 81, 92);
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
}

#secciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 5px solid red;
}

.seccion{
    display: flex;
    padding: 100px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    border: 3px solid green;
}

.seccion-titulo{
    color: rgba(45, 81, 92);
    font-weight: bold;
    font-size: 60px;
    font-family: 'Roboto';
}









