@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

#fondo {
    width: 100%;
    position: relative;
    border-bottom: 10px solid rgb(111, 150, 170);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/testimonios.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#sendaconvenios{
    color: gold;
}

#titulo{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}